[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
openai = "*"
pyaudio = "*"
speechrecognition = "*"
gtts = "*"
python-dotenv = "*"
apa102-pi = "*"
gpiozero = "*"
pydub = "*"
pvporcupine = "*"
langchain-community = "*"
langchain = "*"
langchain-openai = "*"
langchainhub = "*"

[dev-packages]

[requires]
python_version = "3.11"
